telegram_echo_workflow.json
{
    "name": "Telegram Echo Workflow",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "id": "1",
            "name": "Telegram Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Telegram Account"
                }
            }
        },
        {
            "parameters": {
                "functionCode": "const messages = [\n  'Привет! Как дела?',\n  'Спасибо за ваш вопрос!',\n  'Мы получили ваше сообщение.',\n  'Ваше обращение очень важно для нас.',\n  'Ожидайте ответа, пожалуйста.',\n  'Скоро с вами свяжется оператор.',\n  'Спасибо, что написали!',\n  'Ваш запрос принят в работу.',\n  'Мы рады помочь вам!',\n  'Хорошего дня!'\n];\nreturn [{\n  chatId: $json[\"message\"][\"chat\"][\"id\"],\n  text: messages[Math.floor(Math.random() * messages.length)]\n}];"
            },
            "id": "3",
            "name": "Random Message",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                375,
                300
            ]
        },
        {
            "parameters": {
                "chatId": "={{$json[\"chatId\"]}}",
                "text": "={{$json[\"text\"]}}"
            },
            "id": "2",
            "name": "Send Message",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                500,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Telegram Account"
                }
            }
        }
    ],
    "connections": {
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "Random Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Random Message": {
            "main": [
                [
                    {
                        "node": "Send Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {}
}